asgiref==3.5.0
BaseHash==3.0.8
beautifulsoup4==4.10.0
blender==1.4
Brotli==1.0.9
certifi==2020.11.8
chardet==3.0.4
click==8.0.4
colorama==0.4.4
commonmark==0.9.1
decorator==4.4.2
Django==4.0.3
dnspython==2.2.1
docx2pdf==0.1.8
elastic-transport==8.1.0
elasticsearch==8.1.0
Flask==2.0.3
Flask-Cors==3.0.10
Flask-PyMongo==2.3.0
fonttools==4.30.0
future-fstrings==1.2.0
google==3.0.0
idna==2.10
imageio==2.16.1
imageio-ffmpeg==0.4.5
itsdangerous==2.1.0
Jinja2==3.0.3
joblib==1.1.0
Js2Py==0.70
kiwisolver==1.3.2
lxml==4.7.1
MarkupSafe==2.1.0
MechanicalSoup==1.1.0
moviepy==2.0.0.dev2
mutagen==1.45.1
nose==1.3.7
numpy==1.22.3
pandas==1.4.1
Pillow==9.0.1
proglog==0.1.9
pycryptodome==3.14.1
pycryptodomex==3.14.1
PyExecJS==1.5.1
Pygments==2.11.2
pyjsparser==2.7.1
pymongo==4.1.0
pyparsing==3.0.7
pyTelegramBotAPI==3.7.3
python-dateutil==2.8.2
python-docx==0.8.11
pytz==2020.4
pywin32==303
requests==2.25.0
rich==12.0.0
scikit-learn==1.0.2
scipy==1.8.0
scrapetube==2.2.2
selenium==3.141.0
six==1.15.0
soupsieve==2.3.1
sqlparse==0.4.2
threadpoolctl==3.1.0
tinydb==4.7.0
tqdm==4.63.0
typing_extensions==4.1.1
tzdata==2022.1
tzlocal==2.1
urllib3==1.26.2
validators==0.18.2
websockets==10.2
Werkzeug==2.0.3
xmltodict==0.12.0
yadisk==1.2.15
yt-dlp==2022.3.8.2
